<section id="videos" class="videos" fxlayout="row">
  <header class="top-bg mat-accent-bg" fxlayout="column" fxlayout="column">
    <h2>
      <mat-icon class="mr-22">
        play_circle_outline
      </mat-icon>
      <span class="mr-20 text">
        Ahgora Challenge
      </span>
    </h2>
  </header>

  <form fxLayout="column" fxLayoutAlign="center" id="videoForm" [formGroup]="videoForm">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="50" style="margin-right: 10px">
        <input formControlName="title" placeholder="Search videos" type="text" matInput>
        <mat-error>Video title is required.</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <input matInput formControlName="hours" placeholder="How much time you can expend daily during a week."
          type="text" />
        <mat-hint>For example, [90, 20, 30, 30] in minutes.</mat-hint>
        <mat-error>Daily free hours is required.</mat-error>
      </mat-form-field>
      <button mat-fab aria-label="search videos" (click)="getVideos()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </form>

  <div fxLayoutGap="20px" class="video-list-cards" fxLayout="row wrap" fxLayoutAlign="center" *ngIf="!videos">
    <div fxLayoutAlign="center center" fxFlex class="mat-white-bg mat-elevation-z2">
      <div class="video-card" fxLayout="column" fxLayoutAlign="center center">
        <div class="h3">{{totalVideos}}
        </div>
        <div class="h4">
          Total videos
        </div>
      </div>
    </div>
    <div fxLayoutAlign="center center" fxFlex class="mat-white-bg mat-elevation-z2">
      <div class="video-card" fxLayout="column" fxLayoutAlign="center center">
        <div class="h3">{{totalTime}}
        </div>
        <div class="h4">
          Total time in minutes
        </div>
      </div>
    </div>
    <div fxLayoutAlign="center center" fxFlex class="mat-white-bg mat-elevation-z2">
      <div class="video-card-words" fxLayout="column" fxLayoutAlign="center center">
        <div class="h3" *ngFor=" let word of videos.meta.mostUsedWordsTitle">{{word[0]}}
        </div>
        <div class="h4">
          5 most used words in titles
        </div>
      </div>
    </div>
    <div fxLayoutAlign="center center" fxFlex class="mat-white-bg mat-elevation-z2">
      <div class="video-card-words" fxLayout="column" fxLayoutAlign="center center">
        <div class="h3" *ngFor=" let word of videos.meta.mostUsedWordsTitle">{{word[0]}}
        </div>
        <div class="h4">
          5 most used words in descriptions
        </div>
      </div>
    </div>
  </div>

  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="video-cards" *ngIf="videos">
    <div fxLayout="column" fxLayoutAlign="start">
      <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="cards"
        *ngFor="let videos of videos.playlist; index as i">
        <h2>
          <mat-icon class="mr-22"> play_circle_outline </mat-icon>
          <span class="mr-20 text"> Day {{i+1}} </span>
        </h2>

        <div fxFlex="100" fxFlex.gt-sm="35" fxFlex.gt-xs="50" class="cards" *ngFor="let video of videos.items">
          <mat-card fxLayout="column" fxLayoutAlign="space-between">
            <mat-card-header>
              <mat-card-title style="text-transform: uppercase">
                {{video.snippet.title}} <br />
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="column" fxLayoutAlign="start">
                <iframe [class.thumbnail]="thumbnail" [src]="getSafeVideoURL(video.id.videoId)" width="100%" height="315" frameborder="0"
                  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="60">
                  <h3 class="mat-caption">Channel</h3>
                  <p class="mat-body-1">{{video.snippet.channelTitle}}</p>
                </div>
                <div fxFlex>
                  <h3 class="mat-caption">Published At</h3>
                  <p class="mat-body-1">{{video.snippet.publishedAt}}</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!videos" class="video-not-found-wrap">
    <img src="../../../../assets/undraw_youtube_tutorial_2gn3.svg" alt="no videos found" id="img-not-found">
    <h2>
      Oops. No video found.
    </h2>
  </div>

</section>